<div class="button-div" [ngClass]="{ 'inactive' : (state=='done' || state=='cancel') }">
  <div style="
        color: white;
  ">{{count}}</div>
  <div *ngIf="state=='vote'" style="padding-top: 1px;">🎉</div>
  <div *ngIf="state=='voted'" style="
        color: green;
        font-size: 30px;
        font-weight: 400;
        margin-top: -7px;
        margin-left: 1px;">
    <ion-icon name="checkmark"></ion-icon>
  </div>
  <div *ngIf="state=='done'" style="
      color: green;
      font-size: 23px;
      font-weight: 400;
      margin-top: -1px;
      margin-left: 1px;">
<ion-icon name="md-done-all"></ion-icon>
</div>
</div>