page-idea {

}

.dashbox {
    padding: 6px;
    border-width: 1px;
    border-style: dashed;
    font-weight: bold;
    margin-bottom: 6px;
}

.additionalOption {
    -webkit-margin-start: -12px !important; 
    margin-bottom: -6px !important;
}

.action-sheet-button .button-inner {
    text-align: center;
    color: color($colors, primary);
}

#idea-konfetti-button .konfetti-votecount-div {
    padding-top:3px;
}

#idea-konfetti-button .konfetti-status-div-voted {
    margin-top: -4px;
}
