page-idea {

}

.dashbox {
    padding: 6px;
    border-width: 1px;
    border-style: dashed;
    font-weight: bold;
    margin-bottom: 6px;
}

.additionalOption {
    -webkit-margin-start: -12px !important; 
    margin-bottom: -6px !important;
}
