<ion-header>

  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <table width="100%">
    <tr>
      <td>
        <h3>{{idea.title}}</h3>
      </td>
      <td style="width:60px; text-align: end;">
        <konfetti-button [state]="calculatesState" [count]="idea.konfettiTotal" (click)="vote()"></konfetti-button>
      </td>
    </tr>
    <tr>
      <ion-icon name="md-pin"></ion-icon>&nbsp;
      <span style="font-size:120%;">
        {{idea.address}}
      </span>
    </tr>
  </table>

  <div style="
  border-style: solid;
  border-color: grey;
  border-width: 0px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  ">
    <div style="margin-bottom: 6px;">
      <ion-icon name="md-calendar"></ion-icon>&nbsp;
      <span style="font-size:120%;">
        {{idea.date | date: 'dd.MM.yyyy'}}
      </span>
    </div>
    <div>
      <ion-icon name="md-time"></ion-icon>&nbsp;
      <span style="font-size:120%;">
        {{idea.date | date: 'HH:mm'}}
      </span>
    </div>
  </div>

  <table style="margin-bottom: 14px;">
    <tr>
      <td style="width: 75px;">
          <img 
          class="user-image"
          [src]="idea.displayImage" 
          onerror="this.src = './assets/imgs/icon.png';"
        />
      </td>
      <td>
        <div style="
          font-weight: bold;
          font-size: 150%;
        ">
          {{idea.displayName}}
        </div>
        <div>
          {{ 'IDEA_AUTORUNDERLINE' | translate }}
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top: 12px; font-size: 120%;">
        {{idea.description}}
      </td>
    </tr>
    <tr>
      <td *ngIf="idea.wantsHelper" colspan="2" style="padding-top: 12px; font-size: 120%; font-weight: bold;">
        {{ 'IDEA_NEEDHELP' | translate }}
      </td>
    </tr>
    <tr>
      <td *ngIf="idea.wantsHelper" colspan="2" style="padding-top: 12px; font-size: 120%;">
          {{idea.helpDescription}}
      </td>
    </tr>
  </table>

  <div *ngIf="idea.userIsHelping" class="dashbox"> 
      <table style="color: green;padding:4px;">
        <tr>
          <td style="font-size: 200%; -webkit-padding-start: 6px;"> 
            <ion-icon name="md-checkmark"></ion-icon> 
          </td>
          <td style="-webkit-padding-start: 8px;">
            {{ 'IDEA_NOTEHELP' | translate }}
          </td>
        </tr>
      </table>  
  </div>

  <div *ngIf="(idea.userIsAttending && (!idea.userIsHelping))" class="dashbox"> 
      
      <table style="color: green;padding:4px;">
          <tr>
            <td style="font-size: 200%; -webkit-padding-start: 6px;"> 
              <ion-icon name="md-calendar"></ion-icon> 
            </td>
            <td style="-webkit-padding-start: 8px;">
                {{ 'IDEA_NOTEATTEND' | translate }}
            </td>
          </tr>
        </table> 
  </div>

  <button (click)="buttonJoin()" *ngIf="((!idea.userIsHelping) && (!idea.userIsAttending)  && (idea.wantsHelper))" ion-button block color="primary" style="margin-top: 24px;">
      {{ 'IDEA_JOIN' | translate }}
  </button>

  <button (click)="buttonAttent(true)" *ngIf="((!idea.userIsHelping) && (!idea.userIsAttending)  && (!idea.wantsHelper))" ion-button block color="primary" style="margin-top: 24px;">
      {{ 'IDEA_ATTEND' | translate }}
  </button>

  <button (click)="buttonOrgaChat()" *ngIf="idea.userIsHelping" ion-button block color="primary" style="margin-top: 24px;">
      {{ 'IDEA_ORGACHAT' | translate }}
  </button>

  <button (click)="vote()" *ngIf="calculatesState=='vote'"  ion-button clear class="additionalOption">
      {{ 'IDEA_VOTEKONFETTI' | translate }} 🎉
  </button>

  <button (click)="buttonHelping(true)" *ngIf="((!idea.userIsHelping) && (idea.userIsAttending) && (idea.wantsHelper))" ion-button clear class="additionalOption">
      {{ 'IDEA_PLUSHELP' | translate }}
  </button>

  <button (click)="buttonAttent(false)" *ngIf="((!idea.userIsHelping) && (idea.userIsAttending))" ion-button clear class="additionalOption">
      {{ 'IDEA_REMOVEATTEND' | translate }}
  </button>

  <button (click)="buttonHelping(false)" *ngIf="idea.userIsHelping" ion-button clear class="additionalOption">
      {{ 'IDEA_REMOVEHELP' | translate }}
  </button>

</ion-content>