<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
      <div class="header-notification"></div>
    </button>
    <ion-title></ion-title>
    <ion-buttons end class="navheader-end-buttons" >
      <button ion-button icon-only (click)="buttonQRCodeScan()">
        <i class="mdi mdi-camera-enhance navheader-button" style="font-size: 160%;"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- Maps Overlay -->

<ion-content no-bounce>

  <div (click)="buttonMap()" id="map" style="
    width:100%;
    height:100%;
    background-color: lightgoldenrodyellow;
    background-image: url('assets/imgs/default-background.png');
    background-size: 100%;
  "></div>

  <span *ngIf="title.length>0" class="main-group-title">{{title}}</span>

</ion-content>

<!-- Konfetti Notice Overlay  -->

<div *ngIf="showKonfettiNotice" class="info-overlay" [@animateFade]="stateKonfettiNotice">
  <div class="info-overlay-konfetti">
    <div class="info-overlay-konfetti-text">
      <!-- TODO: vertical center in div -->
      <div style="margin: auto;" [innerHTML]="'TOUR_WELCOME' | translate">
      </div>
    </div>
    <div style="margin-left: auto; margin-right: auto;">
      <button ion-button round (click)="buttonKonfettiNotice()">
        <span [innerHTML]="'TOUR_START' | translate"></span>
      </button>
    </div>
  </div>
</div>

<!-- Konfetti Tour Overlay -->

<div *ngIf="showKonfettiTour" class="konfetti-tour-focus-overlay" [ngClass]="classKonfettiTourFocus" [@animateSpotPosition]="stateKonfettiTourFocus">
</div>

<div *ngIf="konfettiTourText.length>0" class="konfetti-tour-infotext-area">
  <div class="konfetti-tour-infotext">
    {{konfettiTourText}}
  </div>
  <button ion-button round (click)="buttonKonfettiTourNext()" style="margin-bottom: 16px;">
    <span [innerHTML]="langKeyTourNext | translate"></span>
  </button>
</div>

<!-- Module Overlay -->

<div *ngIf="showModuleOverlay" id="content-overlay" [@animateModulePanel]="stateModulePanel" style="
    position: absolute;
    margin: 0px;
    height: 67%;
    width:100%;
    background-color: white;
    min-width: 100px;
    min-height: 100px;
    z-index: 1000;">

  <!-- Dynamic Module Buttons -->

  <div *ngFor="let id of moduleConfig; index as i">
    <button ion-button round
            (click)="buttonModule(id)"
            class="module-button svg-house {{getModuleIcon(id)}}"
            [style.right.px]="(10+(i*80))"
            style="
    right: 170px;
  "
            [style.background-color]="(showModuleFocus===id) ? getModuleButtonColor(id) : 'grey'">
      <!--<i [ngClass]="getModuleIcon(id)" aria-hidden="true"></i>
      <img width="100%" src="./assets/icon/house.svg" /> <!-- [src]="getModuleIcon(id)" -->
    </button>
    <div *ngIf="getModuleHasNotification(id)" class="module-notification" [style.right.px]="(11+(i*80))" [style.background-color]="getModuleButtonColor(id)">&nbsp;</div>
  </div>


  <ion-content>

    <!-- Dynamic Module Content Panels-->

    <div *ngFor="let id of moduleConfig"  [ngSwitch]="id" style="text-align: center; font-size: 16px; position: relative;" [@animateModuleSwitch]="stateModuleSwitch">

        <div *ngSwitchCase="'news'">
          <div *ngIf="showModuleFocus==='news'" style="padding: 8px; padding-top: 48px;">
            <module-newsfeed [config]="getModuleConfig(id)"></module-newsfeed>
          </div>
        </div>

        <div *ngSwitchCase="'ideas'">
          <div *ngIf="showModuleFocus==='ideas'" style="padding: 8px; padding-top: 48px;">
            <img src="./assets/imgs/mockup-ideas.png" />
          </div>
        </div>

        <div *ngSwitchCase="'forum'">
          <div *ngIf="showModuleFocus==='forum'" style="padding: 8px; padding-top: 48px;">
            <img src="./assets/imgs/mockup-forum.png" />
          </div>
        </div>

        <div *ngSwitchDefault style="padding-top: 48px;">
          FAIL: Unknown module '{{id}}' - please update app.
        </div>

    </div>

  </ion-content>

</div>




