<ion-header>

  <ion-navbar>

    <ion-title>{{pageTitel}}</ion-title>

    <ion-buttons end class="navheader-end-buttons">
        <button *ngIf="((chat!=null) && (chat.userIsAdmin))" ion-button icon-only (click)="buttonDeleteChat()" style="width:40px;">
            <i class="mdi mdi-delete navheader-button" style="font-size: 160%;"></i>
        </button>
        <!--
        <button *ngIf="((chat!=null) && (chat.userIsAdmin))" ion-button icon-only (click)="showDialogEditChat()" style="width:40px;">
          <i class="mdi mdi-pencil navheader-button" style="font-size: 160%;"></i>
        </button>
        -->
        <button ion-button icon-only *ngIf="chat" (click)="buttonSubscribe()" style="width:40px;">
          <i *ngIf="chat.subscribed" class="fa fa-bell" aria-hidden="true"></i>
          <i *ngIf="!chat.subscribed" class="fa fa-bell-slash-o" aria-hidden="true"></i>
        </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content #messagescroll padding [ngClass]="{'messagescroll': ( (!keyboardIsOpen) || isIOS )}">

    <!-- DEACTIVATED until its possible to load older messages from API
    <ion-refresher [enabled]="!loading" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="ältere Nachrichten laden"
        refreshingSpinner="circles"
        refreshingText="lade ältere Nachrichten">
      </ion-refresher-content>
    </ion-refresher>
    -->

        <!-- keep head room -->  
        <div style="height:65px;">&nbsp;</div>

        <!-- extra headroom when on iOS keyboard is open -->
        <div *ngIf="(keyboardIsOpen && isIOS )" style="height:110px;">&nbsp;</div>

        <div *ngIf="loading" style="text-align: center;">
            <ion-spinner ></ion-spinner>
        </div>  

        <div *ngIf="(messages.length==0) && (!loading)" style="color:grey; font-style: italic;">
          <span *ngIf="chat.userIsAdmin">
              {{ 'CHAT_FRESHADMIN' | translate }}
          </span>
          <span *ngIf="!chat.userIsAdmin"> 
            {{ 'CHAT_FRESHUSER' | translate }} 
          </span>
        </div>

        <div *ngFor="let message of messages">
                
        <!-- message from user of app -->
        <table *ngIf="message.belongsToUser" style="
           margin: 0 0 0 auto;
         ">
           <tr>
             <td>
                 <div class="message" style="text-align: end;">
                     <div class="message-author">{{message.displayName}}</div>
                     <div class="message-content">{{message.text}}</div>
                     <div class="message-timestamp">{{message.displayTime}}</div>
                 </div>
             </td>
             <td style="
              vertical-align: top; 
              padding-top: 5px;
              width: 40px;
              ">
                <img 
                  [src]="message.displayImage" 
                  onerror="this.src = './assets/imgs/icon.png';"
                  style="
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    border-width: 1px;
                    border-color: #b5b5b5;
                    border-style: solid;
                  "
                />
              </td>
           </tr>
         </table>  

        <!-- message from others -->
        <table *ngIf="!message.belongsToUser" style="
           margin: 0 auto 0 0;
         ">
           <tr>
             <td style="
              vertical-align: top;
              padding-top: 5px;
              width: 40px;
              ">
                <img 
                  [src]="message.displayImage" 
                  onerror="this.src = './assets/imgs/icon.png';"
                  style="
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    border-width: 1px;
                    border-color: #b5b5b5;
                    border-style: solid;
                  "
                />
             </td>
             <td>
                 <div class="message" style="text-align: start;">
                     <span class="message-author">{{message.displayName}}</span>
                     <div class="message-content">{{message.text}}</div>
                     <span class="message-timestamp">{{message.displayTime}}</span>
                 </div>
             </td>
           </tr>
         </table>  

        </div>
       
</ion-content>

<div *ngIf="showInfoHeader" (click)="showDialogEditChat()" style="
position: fixed;
top: 62px;
width: 100%;
height: 70px;
padding-left: 5px;
padding-right: 5px;
padding-top: 6px;
background-color: #f3f3f3;
z-index: 10;
margin-top: -17px;
  ">
  <table style="width:100%;">
      <tr>
        <td style="width:60px;">
            <img 
            [src]="chat.displayImage" 
            onerror="this.src = './assets/imgs/icon.png';"
              style="
                width: 60px;
                height: 60px;
                border-radius: 60px;
                border-width: 1px;
                border-color: #f1f1f1;
                border-style: solid;
              "
            />
        </td>
        <td style="
          text-align: start;
          -webkit-padding-start: 10px;
        ">
          <div class="card-text-overline">{{chat.displayName}}</div>
          <div class="card-text-main-chat">{{chat.name}}</div>
          <div class="card-text-underline">{{(chat.members.length+1)}} Personen</div>
        </td>
        <td style="width:50px; font-size: 200%;-webkit-padding-end: 10px;">
            {{chat.description}}
        </td>
      </tr>
    </table>  
</div>

<ion-footer *ngIf="showEnterMessageFooter" style="background-color: #f3f3f3;">
    <label class="item-input-wrapper">

      <table style="
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 10px;
      ">
        <tr>
          <td style="
            text-align: end;
          ">
          <ion-input id="messageinput" class="message-input-field"
            type="text" 
            [(ngModel)]="messageInput"
            placeholder="Nachricht eingeben"
            (ionFocus)="focusMessageInput(true)" (focusout)="focusMessageInput(false)"
            (keyup.enter)="sendMessage()"
            style="
              background-color: white;
              -webkit-padding-start: 10px;
              height: 46px;
              font-size: 120%;
              padding-top: 2px;
            "
            ></ion-input>
          </td>
          <td style="
            width: 10%;
            text-align: start;
          ">      
            <button ion-button (click)="sendMessage()" [disabled]="loading" style="height: 42px;">
                <ion-icon name="md-send"></ion-icon>
            </button></td>
        </tr>
      </table>  

     </label>

  </ion-footer>
