page-chat .fixed-content {
    background-image: url(./../assets/imgs/chat-background.jpg);
    background-color: #E0DAD6;
    background-repeat: no-repeat;
    background-size: cover;
}

.popover-chat-edit .popover-content {
    top: 45px !important;
    left: 1% !important;
    width: 98% !important;
    min-height: 50%;
}

.message {
    background-color: lightblue;
    border-radius: 10px;
    padding: 4px;
    margin: 6px;
}

.card-text-overline {
    font-size: 75%;
}
.card-text-main {
    font-size: 125%;
    font-weight: 600;
}
.card-text-underline {
    font-size: 75%;
}

[dir="ltr"] .message-input-field {
    border-radius: 10px 0px 0px 10px;
}
  
[dir="rtl"] .message-input-field {
    border-radius: 0px 10px 10px 0px;
}

.messagescroll .scroll-content {
    background-color: transparent !important;
}
