page-profile {

}

.change-profile-picture {
  position: relative;
  top: -30px;
  left: 63px;
  background-color: color($colors, primary);
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  padding-top: 5px;
}

[dir="rtl"] .change-profile-picture {
  left: -60px;
}

#profile-aboutme-lable {
  font-size: 16px;
}
