<ion-header>
  <ion-navbar>
    <ion-title [ngClass]="{'ion-title-ios': isIOS }">
      {{ 'PROFILE_TITLE' | translate }}
    </ion-title>
    <ion-buttons end class="navheader-end-buttons" >
      <button ion-button icon-only (click)="buttonClose()" *ngIf="notice.length==0">
        <ion-icon *ngIf="!dataChanged" name="close"></ion-icon>
        <ion-icon *ngIf="dataChanged" name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="buttonClose()" *ngIf="notice.length>0">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding no-bounce>

  <div *ngIf="notice.length>0" class="notice-text"> 
      {{notice}}
  </div>

  <table style="width: 100%;">
    <tr>
      <td style="text-align: center;" (click)="buttonChangeProfilePicture()">
        <div *ngIf="avatarUrl" class="side-menu-user-icon" style="
          padding-left: 8px;
          padding-right: 8px;
          background-color: transparent;
          border-width: 2px;
          color: #666;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          "
          [ngStyle]="{'background-image': 'url('+avatarUrl+')'}"
          >
        </div>
        <div *ngIf="!avatarUrl" class="side-menu-user-icon" style="
          padding-left: 8px;
          padding-right: 8px;
          background-color: transparent;
          border-width: 2px;
          color: #666;
          "
        >
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
        <div class="change-profile-picture">
          <i class="fa fa-camera" aria-hidden="true"></i>
        </div>
      </td>
      <td style="padding-top: 11px;">

        <ion-list style="-webkit-margin-start: 20px;">

          <ion-item style="width:95%; top: -10px;">
            <ion-label color="primary" floating>{{ 'PROFILE_FIRSTNAME' | translate }}</ion-label>
            <ion-input type="text" 
              (keyup)="onChangeNickname()" 
              (keyup.enter)="closeKeyboard()"
              [(ngModel)]="nickname" 
            ></ion-input>
          </ion-item>

        </ion-list>

      </td>
    </tr>
  </table>

  <ion-list style="">

    <ion-item>
      <ion-label color="primary" id="profile-aboutme-lable" stacked>{{ 'PROFILE_ABOUTME' | translate }}</ion-label>
      <ion-input type="text" 
        (keyup)="onChangeAbout()" 
        (keyup.enter)="closeKeyboard()"
        [(ngModel)]="aboutme" 
        placeholder="{{ 'PROFILE_ABOUTME_DEFAULT' | translate }}"
      ></ion-input>
    </ion-item>

  </ion-list>


  <div style="padding-top: 4px;">

    <div class="label label-md label-md-primary" style="-webkit-padding-start: 16px; font-size: 16px;">
      {{ 'PROFILE_LANGUAGES_LABLE' | translate }}
    </div>

    <div style="padding-left: 12px; padding-right: 12px;">

      <ion-chip *ngFor="let langInfo of spokenLangs" style="margin: 3px;">
        <ion-label>{{langInfo.displayname}}</ion-label>
      </ion-chip>

      <br><button ion-button small (click)="buttonEditSpokenLangs()" style="margin-top: 8px;">
        {{ 'PROFILE_LANGUAGES_CHANGE' | translate }}
      </button>

    </div>

    <!-- hidden file input to enable file upload on browser -->
    <div style="position: absolute;top: -100px;">
      <input #fileInput type="file" (change)="onChangeFile($event)"/>
    </div>

    <!--
    <button *ngIf="showAccountLink" (click)="buttonPasswordAndAccount()" ion-button clear style="margin-top: 24px;">
      <i class="fa fa-key" aria-hidden="true"></i>&nbsp;
      {{ 'PROFILE_CHANGEACCOUNT' | translate }}
    </button>
    -->

    <!-- This button only when user did not opened profile from side menu -->
    <button *ngIf="notice.length>0" ion-button block color="primary" (click)="buttonContinue()" style="margin-top: 38px;">
      Weiter
    </button>

  </div>


</ion-content>




