page-location-picker {

}

#mappicker .leaflet-top .leaflet-control {
    margin-top: 10px !important;
}

.notice-text {
    padding: 15px;
    border-width: 1px;
    border-style: dashed;
    font-weight: bold;
    font-size: 105%;
    margin-bottom: 13px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
