<!-- TODO
 If i18n direction is 'rtl' then side menu should toggle from right side.
 Ionic seems not to support 'start' value as side to automatic switch as needed.
 -->
<ion-menu id="sideMenu" side="start" [content]="content">

  <ion-header>
    <ion-toolbar style="background-color: #777777; color: #eee;">
      <ion-title style="text-align: center;">{{'MENU_TITLE' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content no-bounce>

    <div style="
      background-color: #333333;
      min-height: 163px;
      padding: 16px;
      text-align: start;
      ">

      <table>
        <tr>
          <td style="width:95px;">
            <div class="side-menu-user-icon" (click)="buttonProfile()">
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
          </td>
          <td style="padding-top: 11px;">
            <div *ngIf="(!userInfo.name)" style="
  font-size: 130%;
  margin-left: 8px;
  font-weight: 500;">
              {{'MENU_USERNAME_UNKNOWN' | translate}}
            </div>
            <div *ngIf="(userInfo.name)" style="
  font-size: 130%;
  margin-left: 8px;
  font-weight: 500;">
              {{userInfo.name}}
            </div>
            <button ion-button clear (click)="buttonKonfetti()" style="
              font-size: 110%;
              padding-left: 0px;
              padding-right: 0px;
              margin-right: 0px;
             " >
              <img src="assets/imgs/icon.png" class="side-menu-konfetti-img"/>0 Konfetti
            </button>
          </td>
        </tr>
      </table>

      <button ion-button clear menuClose (click)="buttonProfile()" class="side-menu-button"
              style="
                padding-bottom: 6px;
                margin-top: 12px;
              ">
        <div class="side-menu-button-icon">
          <i class="mdi mdi-account-edit" style="font-size:180%;"></i>
        </div>
        <div class="side-menu-button-text">
          {{'MENU_EDIT_PROFILE' | translate}}
        </div>
      </button>

    </div>


    <div style="padding:16px;text-align: start;">

      <div style="font-size: 19px; padding-left: 6px; margin-bottom: 3px;">
        {{'MENU_GROUPS' | translate}}
      </div>

      <button *ngFor="let hood of userInfo.neighbourhoods" ion-button clear menuClose (click)="buttonGroup(hood._id)" class="side-menu-button">
      <div class="side-menu-button-icon">
        <i class="mdi mdi-domain" style="font-size:180%;"></i>
      </div>
      <div class="side-menu-button-text">
        {{hood.name}}
      </div>
    </button>

    <!--
    <button ion-button clear menuClose (click)="buttonGroup('id2')" class="side-menu-button">
      <div class="side-menu-button-icon">
        <i class="mdi mdi-domain" style="font-size:180%;"></i>
      </div>
      <div class="side-menu-button-text">
          Vinetakiez
      </div>
      <div class="side-menu-notification">2</div>
    </button>
    -->

     <button ion-button clear menuClose (click)="buttonNewGroup()" class="side-menu-button">
      <div class="side-menu-button-icon">
          <i class="mdi mdi-plus-circle" style="font-size:180%;"></i>
      </div>
      <div class="side-menu-button-text" style="padding-top: 9px;">
          {{'MENU_NEW_GROUP' | translate}}
      </div>
     </button>

    </div>

  </ion-content>

  <ion-footer class="side-menu-footer">
      <button ion-button clear menuClose (click)="buttonSettings()" class="side-menu-button">
        <div class="side-menu-button-icon">
          <i class="mdi mdi-settings" style="font-size:180%;"></i>
        </div>
        <div class="side-menu-button-text">
          {{'MENU_SETTINGS' | translate}}
        </div>
      </button>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
