// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

p {
  text-align: center;
}

.alert-button-group {
  padding: 8px !important;
}

.alert-button {
  width: 100% !important;
}

.button-inner {
  justify-content: center !important;
}


.navheader-end-buttons {
  -webkit-padding-end: 6px;
}

.navheader-button {
  font-size: 150%;
  padding-right: 4px;
  padding-left: 4px;
}

.toolbar-background {
  background-color: color($colors, primary);
}
.bar-button-default {
  color: white;
}

.toolbar-title {
  color: white;
}

.swiper-pagination-bullet-active {
  background-color: #222;
}

.modal-close {
  font-size: 24px;
  font-weight: 600;
}


#sideMenu .toolbar-background {
  background-color: #777;
  color: #eee;
}

#sideMenu .scroll-content {
  background-color: #777;
  color: #eee;
}

.side-menu-user-icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  background-color: #666666;
  font-size: 50px;
  padding: 8px;
  padding-left: 18px;
}

[dir="rtl"] .side-menu-user-icon {
  padding-right: 17px;
}

.side-menu-konfetti-img {
  width: 28px;
  margin-right: 6px;
}

[dir="rtl"] .side-menu-konfetti-img {
  margin-left: 0px;
  margin-right: 6px;
}

[dir="ltr"] .side-menu-button {
  font-size: 130%;
  padding-left: 0px;
  color: white;
}

[dir="rtl"] .side-menu-button {
  font-size: 130%;
  padding-right: 0px;
  color: white;
}

[dir="ltr"] .side-menu-button-icon {
  display: table-cell;
  padding: 4px;
  padding-top: 9px;
}

[dir="rtl"] .side-menu-button-icon {
  display: table-cell;
  padding: 4px;
  padding-top: 9px;
}

[dir="ltr"] .side-menu-button-text {
  display: table-cell;
  padding: 4px;
  padding-top: 14px;
}

[dir="rtl"] .side-menu-button-text {
  display: table-cell;
  padding: 4px;
  padding-top: 14px;
}

.side-menu-footer {
  background-color: #333;
  padding:16px;
  padding-top: 8px;
}
