page-chat-edit {

}

.intro-text {
    font-style: italic;
    text-align: start;
    -webkit-padding-start: 14px;
    padding-bottom: 10px;
}

.icon-slides .slide-zoom {
    text-align: start;
    -webkit-padding-start: 12px;
    padding-top: 9px;
}
