<ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
    <ion-buttons end class="navheader-end-buttons" >
      <button ion-button icon-only (click)="buttonClose()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>

    <!-- TODO: i18n -->

    <ion-list style="margin-bottom: 0px;">

        <div *ngIf="newChatMode">

          <h3 style="text-align: start; -webkit-padding-start: 12px;">
            Neuer Nachbarschafts-Chat
          </h3>

          <div class="intro-text">
            Du brauchst etwas, wolltest mal was fragen, hast etwas zu verschenken .. 
            starte einen Nachbarschafts-Chat und komm mit deinen Nachbarn ins Gespräch.
          </div> 

        </div>

        <div *ngIf="!newChatMode">
            <h3 style="text-align: start; -webkit-padding-start: 12px;">
              Chat bearbeiten
            </h3>
        </div>

        <ion-item>
            <ion-label color="primary" stacked>Chat Titel (20 Zeichen)</ion-label>
            <ion-input 
              type="text" 
              placeholder="Gib hier einen kurzen Titel ein" 
              maxlength="20"
              [(ngModel)]="chatTitle"
            ></ion-input>
        </ion-item>

        <ion-label color="primary" style="
          text-align: start;
          -webkit-padding-start: 16px;
          margin-top: 22px;"
        stacked>Icon</ion-label>
        
        <ion-slides class="icon-slides" (click)="clickIcon()">
            <ion-slide *ngFor="let emoji of emojiMap">
             <h1>{{emoji}}</h1>
            </ion-slide>
        </ion-slides>

        <button ion-button (click)="clickButton()" style="    
          width: 100%;
          margin-top: 18px;
        ">
          <span *ngIf="newChatMode">Chat anlegen</span>
          <span *ngIf="!newChatMode">Speichern</span>
        </button>

      </ion-list>

</ion-content>
