<div style="min-height: 400px;padding-bottom: 35px;">

<ion-spinner *ngIf="loading" style="margin-top:20px;"></ion-spinner>

<div *ngIf="((!loading) && (chats.length==0))" style="
padding-top: 10px;
color: grey;
">
  {{ 'CHAT_NOCHATS' | translate }}
</div>

<ion-card *ngFor="let chat of chats" class="module-card">
    <ion-card-content (click)="selectCard(chat)" style="padding: 5px 10px 5px;">
      <table style="width:100%;">
        <tr>
          <td style="width:60px;">
              <img 
                [src]="chat.displayImage" 
                onerror="this.src = './assets/imgs/icon.png';"
                style="
                  width: 60px;
                  height: 60px;
                  border-radius: 60px;
                  border-width: 1px;
                  border-color: #f1f1f1;
                  border-style: solid;
                "
              />
          </td>
          <td style="
            text-align: start;
            -webkit-padding-start: 10px;
          ">
            <div class="card-text-overline">{{chat.displayName}}</div>
            <div class="card-text-main">{{chat.name}}</div>
            <div class="card-text-underline">{{(chat.members.length)}} {{ 'CHAT_PEOPLE' | translate }}</div>
          </td>
          <td style="width:50px; font-size: 200%;">
              {{chat.description}}
          </td>
        </tr>
      </table>  
    </ion-card-content>
  </ion-card>

  </div>