<!-- USE https://ionicframework.com/docs/components/#cards -->
<!--
<div>
  <img src="./assets/imgs/mockup-forum.png" />
</div>
-->
<div style="min-height: 400px;">
<ion-card style="
  width:100%; 
  margin:0px;
  border-color: #80808029;
  border-width: 1px;
  border-style: solid;
  ">
    <ion-card-content (click)="selectCard('id')" style="padding: 5px 10px 5px;">
      <table style="width:100%;">
        <tr>
          <td style="width:60px;">
              <img 
                src="./assets/imgs/avatar-test.png" 
                style="
                  width: 60px;
                  border-radius: 60px;
                  border-width: 1px;
                  border-color: #8080803d;
                  border-style: solid;
                "
              />
          </td>
          <td style="
            text-align: start;
            -webkit-padding-start: 10px;
          ">
            <div class="card-text-overline">Name</div>
            <div class="card-text-main">Titel des Chats</div>
            <div class="card-text-underline">Unterzeile</div>
          </td>
          <td style="width:50px; font-size: 200%;">
            🐺
          </td>
        </tr>
      </table>  
    </ion-card-content>
  </ion-card>

  <ion-fab (click)="buttonNew()" style="
    position: fixed;
    bottom: 12px;
    right: 12px;
  ">
      <button ion-fab color="#78bce9"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>
  </div>    