<div style="min-height: 400px;padding-bottom: 35px;">

  <ion-spinner *ngIf="loading" style="margin-top:20px;"></ion-spinner>
  
  <div *ngIf="((!loading) && (posts.length==0))" style="
  padding-top: 10px;
  color: grey;
  ">
    <div style="margin-top:10px">{{'NEWSFEED_NONEWS' | translate}}</div>
    <div style="margin-top:30px">{{'NEWSFEED_PULLTOREFRESH' | translate}}</div>
  </div>
  
  <div *ngIf="(!loading)">

  <div *ngFor="let post of posts" >
  <ion-card *ngIf="post.type=='notification'" class="module-card" >
      <ion-card-content style="padding: 5px 10px 5px;">
        <table style="width:100%;">
          <tr>
            <td (click)="selectCard(post)" >
                <div class="notification-text">
                    {{post.content.text}}
                  </div>
            </td>
            <!--
            <td width="12px" class="notification-close" (click)="closePost(post)">
                <ion-icon name="md-close-circle"></ion-icon>
            </td>
          -->          
        </tr>
          <tr class="notification-underline" (click)="selectCard(post)" >
            <td>
                <img src="./assets/icon/chat-b.svg" style="
                width: 18px;
                display: inline;
                -webkit-margin-end: 3px;
                margin-top: 4px;"/>
                {{post.created.date | since: translateService}}
            </td> 
          </tr>  
        </table>      

        <div>
        </div>  
      </ion-card-content>  
    </ion-card>
  </div>
  </div>
  
    </div>
